<!DOCTYPE html>
<html lang="en">

<head>
<!-- HEADER -->
  <%- include("header.ejs")%>
</head>

<body>

    <%- include("./login/login.ejs")%>
    <%- include("footer.ejs")%>

    <%- include("script.ejs")%>
    <%- include("./login/loginscript.ejs")%>
    
</body>

</html>